storename  = db1-networks-pdev


########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://db1.chicago.kbase.us:3306/bicluster_dev
c3po.setUser = bicluster_dev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1

########################################
# basic properties
########################################

Edge2NodeType1.GENE = GENE
Edge2NodeType2.GENE = GENE
Edge2NodeType2.CLUSTER = BICLUSTER
Default.EdgeTypes = GENE_CLUSTER
Supported.EdgeTypes = GENE_GENE:GENE_CLUSTER


########################################
# loadDatasets method
########################################

# Example
#  "id" : "kb|netdataset.mak.1",
#  "name" : "MAKv1.0 Shewanella dataset",
#  "description" : "Shewanella dataset",
#  "networkType" : "CO_EXPRESSION",
#  "sourceReference" : "MAK_BICLUSTER",
#  "taxons" : "kb|g.20848" ,


SQL.loadDatasets = \
	select 	\
		kbaseId as DATASET_ID \
		, name as DATASET_NAME \
		, description as DATASET_DESCRIPTION \
		, networkType as DATASET_NETWORKTYPE \
		, sourceReference as DATASET_SOURCEREFERENCE \
		, genomeKBaseId as DATASET_TAXONS \ 
	from \
		Dataset 



########################################
# getDatasets methods
########################################

# search by GENE entity id
 
SQL.getDatasets.GENE = \
	select distinct  \
		d.kbaseId \
	from \
		Gene g \
		join Dataset d using(datasetId) \
	where \
		g.kbaseId = ?

QIndex.GeneId.getDatasets.GENE = 1
RSIndex.DatasetId.getDatasets.GENE = 1


# search by BICLUSTER entity id

SQL.getDatasets.BICLUSTER = \
	select distinct \
		d.kbaseId \
	from \
		Bicluster b \
		join Dataset d using(datasetId) \
	where \
		b.biclusterId = substring_index(?, ".", -1)

QIndex.BiclusterId.getDatasets.BICLUSTER = 1
RSIndex.DatasetId.getDatasets.BICLUSTER = 1


########################################
# buildFirstNeighborNetwork methods
########################################

#GENE_GENE edge type, search by GENE entity id

SQL.buildFirstNeighborNetwork.GENE_GENE.GENE = \
	select  \
		g1.kbaseId \
		, g2.kbaseId \
		, 'Belong the same bi-cluster' \
		, concat("kb|bicluster.", b.biclusterId) as biclusterId \
	from \
		Gene g1 \
		join Gene g2 using(biclusterId) \
		join Bicluster b using(biclusterId) \
	where \
		g1.kbaseId <> g2.kbaseId \
		and g2.kbaseId is not null \
		and g1.kbaseId = ?

QIndex.DatasetId.buildInternalNetwork.GENE_GENE.GENE = 1
QIndex.GeneId.buildFirstNeighborNetwork.GENE_GENE.GENE = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_GENE.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_GENE.GENE = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_GENE.GENE = 3
RSName.EdgeProperties.buildInternalNetwork.GENE_GENE.GENE = biclusterId




#GENE_BICLUSTER edge type, search by GENE entity id

SQL.buildFirstNeighborNetwork.GENE_BICLUSTER.GENE = \
	select distinct \
		g.kbaseId  \
		, concat("kb|bicluster.", b.biclusterId)  \
		, 'Member of bi-cluster' \
		, 1 \
		, b.biclusterId as biclusterId \
	from \
		Gene g \
		join Bicluster b using(biclusterId)  \
	where \
		g.kbaseId = ?

QIndex.DatasetId.buildInternalNetwork.GENE_BICLUSTER.GENE = 1
QIndex.GeneId.buildFirstNeighborNetwork.GENE_BICLUSTER.GENE = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_BICLUSTER.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_BICLUSTER.GENE = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_BICLUSTER.GENE = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_BICLUSTER.GENE = 4
RSName.EdgeProperties.buildInternalNetwork.GENE_BICLUSTER.GENE = biclusterId

#GENE_BICLUSTER edge type, search by BICLUSTER entity id

SQL.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = \
	select distinct \
		g.kbaseId as geneKBaseId \
		, concat("kb|bicluster.", b.biclusterId) as bicluterKBaseId \
		, 'Member of bi-cluster' \
		, 1	\	
	from \
		Gene g \
		join Bicluster b using(biclusterId)  \
	where \
		g.kbaseId is not null \		
		and b.biclusterId = substring_index(?, ".", -1)


QIndex.DatasetId.buildInternalNetwork.GENE_BICLUSTER.BICLUSTER = 1
QIndex.BiclusterId.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = 4
RSName.EdgeProperties.buildFirstNeighborNetwork.GENE_BICLUSTER.BICLUSTER = biclusterId


########################################
# buildInternalNetwork methods
########################################

#GENE_GENE edge type, search by GENE entity ids

SQL.buildInternalNetwork.GENE_GENE = \
	select distinct \
		g1.kbaseId as geneKBaseId1 \
		, g2.kbaseId as geneKBaseId2 \
		, 'Belong the same bi-cluster' \
		, b.biclusterId as biclusterId \
	from Gene g1 \
		join Gene g2 using(biclusterId) \
		join Bicluster b using(biclusterId) \		
	where \
		g1.kbaseId < g2.kbaseId \
		and  g1.kbaseId in (%s) \
		and g2.kbaseId in (%s)

QIndex.DatasetId.buildInternalNetwork.GENE_GENE = 1
QIndex.GeneId.buildInternalNetwork.GENE_GENE = 2:3
RSIndex.EntityId1.buildInternalNetwork.GENE_GENE = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_GENE = 2
RSIndex.EdgeName.buildInternalNetwork.GENE_GENE = 3
RSName.EdgeProperties.buildInternalNetwork.GENE_GENE = biclusterId


#GENE_BICLUSTER edge type, search by GENE and Bicluster entity ids

SQL.buildInternalNetwork.GENE_BICLUSTER = \
	select distinct \
		g.kbaseId as geneKBaseId \
		, concat("kb|bicluster.", b.biclusterId) as bicluterKBaseId \
		, 'Member of bi-cluster' \
		, 1 \
		, b.biclusterId as biclusterId \		
	from \
		Gene g \
		join Bicluster b using(biclusterId)  \
	where \
		g.kbaseId in (%s) \
		and concat("kb|bicluster.", b.biclusterId) in (%s)

QIndex.DatasetId.buildInternalNetwork.GENE_BICLUSTER = 1
QIndex.GeneId.buildInternalNetwork.GENE_BICLUSTER = 2
QIndex.BiclusterId.buildInternalNetwork.GENE_BICLUSTER = 3
RSIndex.EntityId1.buildInternalNetwork.GENE_BICLUSTER = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_BICLUSTER = 2
RSIndex.EdgeName.buildInternalNetwork.GENE_BICLUSTER = 3
RSIndex.EdgeDirected.buildInternalNetwork.GENE_BICLUSTER = 4
RSName.EdgeProperties.buildInternalNetwork.GENE_BICLUSTER = biclusterId
