storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://devdb1.newyork.kbase.us:3306/kbase_plant
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

Edge2NodeType1.GENE = GENE
Edge2NodeType2.CLUSTER = CLUSTER
Default.EdgeTypes = GENE_CLUSTER
Supported.EdgeTypes = GENE_CLUSTER

########################################
# loadDatasets method
########################################

SQL.loadDatasets = select * from datasets where DATASET_ID like 'kb|netdataset.plant.cc.%' 

########################################
# getDatasets methods
########################################

SQL.getDatasets.GENE = \
    SELECT distinct concat('kb|netdataset.plant.cc.', meta_id) \
    FROM coex_cluster_int \
    WHERE kbfid = ? 
QIndex.GeneId.getDatasets.GENE = 1 
RSIndex.DatasetId.getDatasets.GENE = 1


SQL.getDatasets.CLUSTER = \
    SELECT distinct concat('kb|netdataset.plant.cc.', meta_id) \
    FROM coex_cluster_int \
    WHERE cluster = ? 
QIndex.GeneId.getDatasets.CLUSTER = 1 
RSIndex.DatasetId.getDatasets.CLUSTER = 1


########################################
# buildFirstNeighborNetwork methods
########################################

SQL.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = \
    SELECT DISTINCT kbfid\
        , cluster\
        , gene\
        , substring_index(cluster,".",-1)\
        , 'Member of cluster' \
    FROM coex_cluster_int \
    WHERE kbfid = ? AND meta_id = substring_index(?,".",-1)
	
QIndex.GeneId.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 1
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_CLUSTER.GENE = 5

SQL.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = \
    SELECT DISTINCT kbfid, cluster, gene, substring_index(cluster,".",-1), \
        'Member of cluster' \
    FROM coex_cluster_int \
    WHERE cluster = ? AND meta_id = substring_index(?,".",-1)
	
QIndex.ClusterId.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 1
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_CLUSTER.CLUSTER = 5


########################################
# buildInternalNetwork methods
########################################

SQL.buildInternalNetwork.GENE_CLUSTER = \
    SELECT DISTINCT kbfid, cluster, gene, substring_index(cluster,".",-1), \
        'Member of cluster' \
    FROM coex_cluster_int \
    WHERE kbfid IN (%s) AND cluster IN (%s) \
        AND meta_id = substring_index(?, ".", -1)

QIndex.GeneId.buildInternalNetwork.GENE_CLUSTER = 1
QIndex.ClusterId.buildInternalNetwork.GENE_CLUSTER = 2
QIndex.DatasetId.buildInternalNetwork.GENE_CLUSTER = 3
RSIndex.EntityId1.buildInternalNetwork.GENE_CLUSTER = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_CLUSTER = 2
RSIndex.NodeName1.buildInternalNetwork.GENE_CLUSTER = 3
RSIndex.NodeName2.buildInternalNetwork.GENE_CLUSTER = 4
RSIndex.EdgeName.buildInternalNetwork.GENE_CLUSTER = 5
