storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://devdb1.newyork.kbase.us:3306/kbase_plant
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

# Previous
#    "EDGE2NODETYPE1.PROTEIN" : "PROTEIN",
#    "EDGE2NODETYPE2.PROTEIN" : "PROTEIN",
#    "EDGE2NODETYPE2.CLUSTER" : "PPI_COMPLEX",
#    "Default.EdgeTypes" : "PROTEIN_PROTEIN",
#    "Supported.EdgeTypes" : "PROTEIN_PROTEIN:PROTEIN_CLUSTER",

Edge2NodeType1.PROTEIN = PROTEIN
Edge2NodeType2.PROTEIN = PROTEIN
Edge2NodeType2.CLUSTER = PPI_COMPLEX
Default.EdgeTypes = PROTEIN_PROTEIN
Supported.EdgeTypes = PROTEIN_PROTEIN:PROTEIN_CLUSTER


########################################
# loadDatasets method
########################################

# Example
#  "id" : "kb|netdataset.mak.1",
#  "name" : "MAKv1.0 Shewanella dataset",
#  "description" : "Shewanella dataset",
#  "networkType" : "REGULATORY_NETWORK",
#  "sourceReference" : "MAK_BICLUSTER",
#  "taxons" : "kb|g.20848" ,


SQL.loadDatasets = \
	select 	\
		"kb|netdataset.plant.pppi.1" as DATASET_ID \
		, "IntAct" as DATASET_NAME \
		, "IntAct : Protein Protein Interaction Network for Arabidopsis thaliana" as DATASET_DESCRIPTION \
		, "PROT_PROT_INTERACTION" as DATASET_NETWORKTYPE \
		, "INTACT" as DATASET_SOURCEREFERENCE \
		, "kb|g.3899" as DATASET_TAXONS 


########################################
# getDatasets methods
########################################

# search by PROTEIN entity id

# Previous
#    "SQL.getDatasets.PROTEIN" : "SELECT count(*) FROM interaction_exchange WHERE protein = ?",
#    "QIDX1.getDatasets.PROTEIN" : "1",
 
SQL.getDatasets.PROTEIN = \
	select distinct  \
		"kb|netdataset.1" \
	from \
		interaction_exchange \
	where \
		protein = ?
	
QIndex.ProteinId.getDatasets.PROTEIN = 1
RSIndex.DatasetId.getDatasets.PROTEIN = 1


# search by PPI_COMPLEX entity id

# Previous
#    "SQL.getDatasets.PPI_COMPLEX" : "SELECT count(*) FROM interaction_exchange WHERE group_description = ? ",
#    "QIDX1.getDatasets.PPI_COMPLEX" : "1",
    
SQL.getDatasets.PPI_COMPLEX = \
	select distinct \
		"kb|netdataset.1" \
	from \
		interaction_exchange \
	where \
		group_description = ?
	 
QIndex.PPIComplexId.getDatasets.PPI_COMPLEX = 1
RSIndex.DatasetId.getDatasets.PPI_COMPLEX = 1


########################################
# buildFirstNeighborNetwork methods
########################################

#PROTEIN_PROTEIN edge type, search by PROTEIN entity id

# Previous
#    "SQL.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN" : "SELECT DISTINCT A.protein, B.protein FROM interaction_exchange A JOIN interaction_exchange B ON A.group_description = B.group_description WHERE A.protein <> B.protein AND A.protein = ? ",
#    "QIDX1.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN" : "1",
#    "RSNode1Index.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN"  : "1",
#    "RSNode2Index.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN"  : "2",
#    "RSWeightIndex.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN" : "-1",


SQL.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN = \
	select  \
		A.protein \
		, B.protein \
		, "Members of the same PPI complex" \
		, A.group_description as PPIComplexId \
	from \
		interaction_exchange A \
		JOIN interaction_exchange B using(group_description)\
	where \
		A.protein <> B.protein \
		AND A.protein = ?
	
QIndex.ProteinId.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN = 1
RSIndex.EntityId1.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN = 3
RSName.EdgeProperties.buildFirstNeighborNetwork.PROTEIN_PROTEIN.PROTEIN = ppiComplexId

#PPI_COMPLEX edge type, search by PROTEIN entity id

# Previous
#    "SQL.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN" : "SELECT DISTINCT protein, group_description FROM interaction_exchange WHERE protein = ? ",
#    "QIDX1.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN" : "1",
#    "RSNode1Index.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN"  : "1",
#    "RSNode2Index.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN"  : "2",
#    "RSWeightIndex.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN" : "-1",

SELECT DISTINCT protein, group_description FROM interaction_exchange WHERE protein = ?

SQL.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN = \
	select distinct \
		protein \
		, group_description \
		, "Contains protein" \
		, -1 \		
	from \
		interaction_exchange \
	where \
		protein = ?
	 
QIndex.ProteinId.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN = 1
RSIndex.EntityId1.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PROTEIN = 4


#GENE_BICLUSTER edge type, search by BICLUSTER entity id

# Previous
#    "SQL.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX" : "SELECT DISTINCT protein, group_description FROM interaction_exchange WHERE group_description = ? ",
#    "QIDX1.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX" : "1",
#    "RSNode1Index.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX"  : "1",
#    "RSNode2Index.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX"  : "2",
#    "RSWeightIndex.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX" : "-1",


SQL.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX = \
	select distinct \
		protein \
		, group_description \
		, "Contains protein" \
		, -1 \				
	from \
		interaction_exchange \
	where \
		group_description = ?
	 
QIndex.PPIComplexId.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX = 1
RSIndex.EntityId1.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.PROTEIN_PPI_COMPLEX.PPI_COMPLEX = 4


########################################
# buildInternalNetwork methods
########################################

#PROTEIN_PROTEIN edge type, search by PROTEIN entity ids

# Previous
#    "SQL.buildInternalNetwork.PROTEIN_PROTEIN.PROTEIN" : "SELECT DISTINCT A.protein, B.protein FROM interaction_exchange A JOIN interaction_exchange B ON A.group_description = B.group_description WHERE A.protein <> B.protein AND A.protein IN (?) and B.protein IN (?)",
#    "QIDX1.buildInternalNetwork.PROTEIN_PROTEIN.PROTEIN" : "1:2",
#    "RSNode1Index.buildInternalNetwork.PROTEIN_PROTEIN.PROTEIN"  : "1",
#    "RSNode2Index.buildInternalNetwork.PROTEIN_PROTEIN.PROTEIN"  : "2",
#    "RSWeightIndex.buildInternalNetwork.PROTEIN_PROTEIN.PROTEIN" : "-1",


SQL.buildInternalNetwork.PROTEIN_PROTEIN = \
	select distinct \
		A.protein \
		, B.protein \
	from interaction_exchange A \
		JOIN interaction_exchange B using(group_description) \
	where \
		A.protein < B.protein \
		AND A.protein IN (%s) \
		and B.protein IN (%s)
	
QIndex.ProteinId.buildInternalNetwork.PROTEIN_PROTEIN = 1:2
RSIndex.EntityId1.buildInternalNetwork.PROTEIN_PROTEIN = 1
RSIndex.EntityId2.buildInternalNetwork.PROTEIN_PROTEIN = 2

#PROTEIN_PPI_COMPLEX edge type, search by GENE and Bicluster entity ids

#    "SQL.buildInternalNetwork.PROTEIN_PPI_COMPLEX.PROTEIN_PPI_COMPLEX" : "SELECT DISTINCT protein, group_description FROM interaction_exchange  WHERE protein IN (?) AND group_description IN (?)",
#    "QIDX1.buildInternalNetwork.PROTEIN_PPI_COMPLEX.PROTEIN_PPI_COMPLEX" : "1",
#    "QIDX2.buildInternalNetwork.PROTEIN_PPI_COMPLEX.PROTEIN_PPI_COMPLEX" : "2",
#    "RSNode1Index.buildInternalNetwork.PROTEIN_PPI_COMPLEX.PROTEIN_PPI_COMPLEX"  : "1",
#    "RSNode2Index.buildInternalNetwork.PROTEIN_PPI_COMPLEX.PROTEIN_PPI_COMPLEX"  : "2",
#    "RSWeightIndex.buildInternalNetwork.PROTEIN_PPI_COMPLEX.PROTEIN_PPI_COMPLEX" : "-1"

    
SQL.buildInternalNetwork.PROTEIN_PPI_COMPLEX = \
	select distinct \
		protein \
		, group_description \
	from \
		interaction_exchange \
	where \
		protein IN  (%s) \
		and group_description IN (%s)
	
QIndex.ProteinId.buildInternalNetwork.PROTEIN_PPI_COMPLEX = 1
QIndex.PPIComplexId.buildInternalNetwork.PROTEIN_PPI_COMPLEX = 2
RSIndex.EntityId1.buildInternalNetwork.PROTEIN_PPI_COMPLEX = 1
RSIndex.EntityId2.buildInternalNetwork.PROTEIN_PPI_COMPLEX = 2
