storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://db2.chicago.kbase.us:3306/networks_pdev
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

Edge2NodeType1.GENE = GENE
Edge2NodeType2.GENE = GENE
Default.EdgeTypes = GENE_GENE
Supported.EdgeTypes = GENE_GENE

########################################
# loadDatasets method
########################################

SQL.loadDatasets = select * from datasets where DATASET_ID like 'kb|netdataset.plant.ppi.%' 

########################################
# getDatasets methods
########################################

SQL.getDatasets.GENE = \
    SELECT distinct concat('kb|netdataset.plant.ppi.', meta_id) \
    FROM ppi_orthology_int \
    WHERE kbfid1 = ? OR kbfid2 = ?
QIndex.GeneId.getDatasets.GENE = 1:2 
RSIndex.DatasetId.getDatasets.GENE = 1


########################################
# buildFirstNeighborNetwork methods
########################################

SQL.buildFirstNeighborNetwork.GENE_GENE.GENE = \
    SELECT DISTINCT kbfid1\
        , kbfid2\
        , to_gene1\
        , to_gene2\
        , 'Projected interacting gene pair' \
        , value \
    FROM ppi_orthology_int \
    WHERE (kbfid1 = ? OR kbfid2 = ?) AND meta_id = substring_index(?,".",-1)
	
QIndex.GeneId.buildFirstNeighborNetwork.GENE_GENE.GENE = 1:2
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_GENE.GENE = 3
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_GENE.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_GENE.GENE = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.GENE_GENE.GENE = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.GENE_GENE.GENE = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_GENE.GENE = 5
RSIndex.Weight.buildFirstNeighborNetwork.GENE_GENE.GENE = 6

########################################
# buildInternalNetwork methods
########################################

SQL.buildInternalNetwork.GENE_GENE = \
    SELECT DISTINCT kbfid1\
        , kbfid2\
        , to_gene1\
        , to_gene2\
        , 'Interacting gene pair' \
        , value \
    FROM ppi_orthology_int \
    WHERE kbfid1 IN (%s)  AND kbfid2 IN (%s)\
        AND meta_id = substring_index(?, ".", -1)

QIndex.GeneId.buildInternalNetwork.GENE_GENE = 1:2
QIndex.DatasetId.buildInternalNetwork.GENE_GENE = 3
RSIndex.EntityId1.buildInternalNetwork.GENE_GENE = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_GENE = 2
RSIndex.NodeName1.buildInternalNetwork.GENE_GENE = 3
RSIndex.NodeName2.buildInternalNetwork.GENE_GENE = 4
RSIndex.EdgeName.buildInternalNetwork.GENE_GENE = 5
RSIndex.Weight.buildInternalNetwork.GENE_GENE = 6
