storename  = db1-networks-pdev


########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://db1.chicago.kbase.us:3306/ppi_dev
c3po.setUser = ppi_dev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1

########################################
# basic properties
########################################

Edge2NodeType1.GENE = GENE
Edge2NodeType2.GENE = GENE
Edge2NodeType2.CLUSTER = PPI_COMPLEX
Default.EdgeTypes = GENE_GENE
Supported.EdgeTypes = GENE_GENE:GENE_CLUSTER


########################################
# loadDatasets method
########################################

# Example
#  "id" : "kb|netdataset.mak.1",
#  "name" : "MAKv1.0 Shewanella dataset",
#  "description" : "Shewanella dataset",
#  "networkType" : "REGULATORY_NETWORK",
#  "sourceReference" : "MAK_BICLUSTER",
#  "taxons" : "kb|g.20848" ,

# Previous
#	select id from interaction_dataset
#	select description, data_source, data_url from interaction_dataset where id=?
#	select distinct(substring_index(f.protein_id,'.',2)) from interaction_protein f, interaction i where f.interaction_id=i.id and i.interaction_dataset_id=

SQL.loadDatasets = \
	select \
		concat("kb|netdataset.ppi.",id) as DATASET_ID, description as DATASET_NAME \ 
		, concat( "PPI network: ", description) as DATASET_DESCRIPTION \
		, "PROT_PROT_INTERACTION" as DATASET_NETWORKTYPE \
		, CASE data_source WHEN "MO" THEN "MO" WHEN "EcoCyc" THEN 'ECOCYC'  ELSE "PPI" END as DATASET_SOURCEREFERENCE \
		, DATASET_TAXONS \
# Other properties; will implement it later		
#		, id as interaction_dataset_id \
#		, data_url as url		
	from \
		interaction_dataset \  
		join \ 
		( \
			select id,  group_concat(distinct substring_index(protein_id,'.',2) separator ":") as DATASET_TAXONS \
			from( \
				select distinct i.interaction_dataset_id as id,  f.protein_id \
				from interaction_protein f, interaction i \
				where f.interaction_id=i.id \
			) t \
			group by id \ 
		) t using (id) 


########################################
# getDatasets methods
########################################

# search by GENE entity id

# Previous
# select distinct(i.interaction_dataset_id) from interaction i, interaction_protein f where f.interaction_id=i.id and f.protein_id=?
 
SQL.getDatasets.GENE = \
	select \  
		distinct concat("kb|netdataset.ppi.", i.interaction_dataset_id)  \  
	from \
		interaction i \
		join interaction_protein f on  f.interaction_id=i.id \ 		
	where \ 
		f.protein_id=? 
	
QIndex.GeneId.getDatasets.GENE = 1
RSIndex.DatasetId.getDatasets.GENE = 1


# search by PPI_COMPLEX entity id

SQL.getDatasets.PPI_COMPLEX = \
	select \  
		distinct concat("kb|netdataset.ppi.", i.interaction_dataset_id)  \  
	from \
		interaction i \
		join interaction_protein f on  f.interaction_id=i.id \ 		
	where \ 
		i.id = substring_index(?, ".", -1)
	
QIndex.PPIComplexId.getDatasets.PPI_COMPLEX = 1
RSIndex.DatasetId.getDatasets.PPI_COMPLEX = 1

########################################
# buildFirstNeighborNetwork methods
########################################

#GENE_GENE edge type, search by GENE entity id

# Previous
# select i.id, f1.protein_id, f1.id from interaction i, interaction_protein f1, interaction_protein f2 where i.interaction_dataset_id=? and f1.interaction_id=i.id and f2.interaction_id=i.id and f2.protein_id=? order by i.id asc, f1.rank asc

SQL.buildFirstNeighborNetwork.GENE_GENE.GENE = \
	select \
		f1.protein_id  \
		, f2.protein_id \ 
		, IF ((f1.rank < f2.rank), \
		  concat(f1.protein_id, "_", f2.protein_id),  \
		  concat(f2.protein_id, "_", f1.protein_id)) \
		, IF ((f1.rank < f2.rank), confidence, 0-confidence) \
		, i.confidence \
		, f2.strength \
# Other properties
		, i.description as description \
		, i.data_url as url \
		, m.description as detection_method \
		, i.citation_id as citation_id \
		, f1.stoichiometry as stoichiometry1 \
		, f2.stoichiometry as stoichiometry2 \
		, f1.rank as rank1 \
		, f2.rank as rank2 \
#		, i.is_directional \
#		, i.id \	
	from  \
		interaction i \
		join interaction_protein f1 on f1.interaction_id = i.id  \
		join interaction_protein f2 on f2.interaction_id = i.id \  
		left join interaction_detection_type m on m.id = i.detection_method_id \		
	where \
		i.interaction_dataset_id = substring_index(?, ".", -1) \
		and f1.protein_id=?
	
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_GENE.GENE = 1
QIndex.GeneId.buildFirstNeighborNetwork.GENE_GENE.GENE = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_GENE.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_GENE.GENE = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_GENE.GENE = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_GENE.GENE = 4
RSIndex.Confidence.buildFirstNeighborNetwork.GENE_GENE.GENE = 5
RSIndex.Weight.buildFirstNeighborNetwork.GENE_GENE.GENE = 6
RSName.EdgeProperties.buildInternalNetwork.GENE_GENE.GENE = description:url:citation_id:detection_method
RSName.Node1Properties.buildInternalNetwork.GENE_GENE.GENE = stoichiometry1:rank1
RSName.Node2Properties.buildInternalNetwork.GENE_GENE.GENE = stoichiometry2:rank2




#GENE_PPI_COMPLEX edge type, search by GENE entity id

# Previous
#   select i.id, f.id from interaction i, interaction_protein f where i.interaction_dataset_id=? and f.interaction_id=i.id and f.protein_id=?
#	select i.interaction_dataset_id, i.description, i.is_directional, i.confidence, m.description, i.data_url, i.citation_id, f.stoichiometry, f.strength, f.rank, i.id from interaction_protein f, interaction i left join interaction_detection_type m on m.id=i.detection_method_id where f.interaction_id=i.id and f.id=

SQL.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = \
	select \
		f.protein_id \
		, concat("kb|ppi.", i.id) \
		, concat("kb|ppi.", i.id, "_", f.protein_id) \
		, -1 \
		, f.strength \
		, i.confidence \
# Other properties	
		, i.description as description \
		, i.data_url as url \
		, m.description as detection_method \
		, i.citation_id as citation_id \
		, f.stoichiometry as stoichiometry1 \
		, f.rank as rank1 \
#		, i.is_directional \
#		, i.id \
	from \
		interaction i \
		join interaction_protein f on f.interaction_id=i.id \
		left join interaction_detection_type m on m.id=i.detection_method_id \
	 where \
		i.interaction_dataset_id = substring_index(?, ".", -1) \
		and f.protein_id=?
									 
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 1
QIndex.GeneId.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 4
RSIndex.Weight.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 5
RSIndex.Confidence.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 6
RSName.EdgeProperties.buildInternalNetwork.GENE_PPI_COMPLEX.GENE = description:url:citation_id:detection_method
RSName.Node1Properties.buildInternalNetwork.GENE_PPI_COMPLEX.GENE = stoichiometry1:rank1



#GENE_PPI_COMPLEX edge type, search by PPI_COMPLEX entity id

SQL.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = \
	select \
		f.protein_id \
		, concat("kb|ppi.", i.id) \
		, "Member of PPI complex" \
		, -1 \
		, f.strength \
		, i.confidence \
# Other properties	
		, i.description as description \
		, i.data_url as url \
		, m.description as detection_method \
		, i.citation_id as citation_id \
		, f.stoichiometry as stoichiometry1 \
		, f.rank as rank1 \
#		, i.is_directional\
#		, i.id
	from \
		interaction i \
		join interaction_protein f on f.interaction_id=i.id \
		left join interaction_detection_type m on m.id=i.detection_method_id \
	 where \
		i.interaction_dataset_id = substring_index(?, ".", -1) \
		and i.id = substring_index(?, ".", -1)

QIndex.DatasetId.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 1
QIndex.PPIComplexId.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 4
RSIndex.Weight.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 5
RSIndex.Confidence.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 6
RSName.EdgeProperties.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = description:url:citation_id:detection_method
RSName.Node1Properties.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = stoichiometry1:rank1



########################################
# buildInternalNetwork methods
########################################

#GENE_GENE edge type, search by GENE entity ids

SQL.buildInternalNetwork.GENE_GENE = \
	select \
		f1.protein_id  \
		, f2.protein_id \ 
		, IF ((f1.rank < f2.rank), \
		  concat(f1.protein_id, "_", f2.protein_id),  \
		  concat(f2.protein_id, "_", f1.protein_id)) \
		, IF ((f1.rank < f2.rank), confidence, 0-confidence) \
		, i.confidence \
		, f2.strength \
# Other properties
		, i.description as description \
		, i.data_url as url \
		, m.description as detection_method \
		, i.citation_id as citation_id \
		, f1.stoichiometry as stoichiometry1 \
		, f2.stoichiometry as stoichiometry2 \
		, f1.rank as rank1 \
		, f2.rank as rank2 \
#		, i.is_directional \
#		, i.id \	
	from  \
		interaction i \
		join interaction_protein f1 on f1.interaction_id = i.id  \
		join interaction_protein f2 on f2.interaction_id = i.id \  
		left join interaction_detection_type m on m.id = i.detection_method_id \		
	where \
		f1.protein_id < f2.protein_id \ 
		and i.interaction_dataset_id = substring_index(?, ".", -1) \
		and f1.protein_id in (%s) \
		and f2.protein_id in (%s) 

QIndex.DatasetId.buildInternalNetwork.GENE_GENE = 1
QIndex.GeneId.buildInternalNetwork.GENE_GENE = 2:3
RSIndex.EntityId1.buildInternalNetwork.GENE_GENE = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_GENE = 2
RSIndex.EdgeName.buildInternalNetwork.GENE_GENE = 3
RSIndex.EdgeDirected.buildInternalNetwork.GENE_GENE = 4
RSIndex.Confidence.buildInternalNetwork.GENE_GENE = 5
RSIndex.Weight.buildInternalNetwork.GENE_GENE = 6
RSName.EdgeProperties.buildInternalNetwork.GENE_GENE = description:url:citation_id:detection_method
RSName.Node1Properties.buildInternalNetwork.GENE_GENE = stoichiometry1:rank1
RSName.Node2Properties.buildInternalNetwork.GENE_GENE = stoichiometry2:rank2



#GENE_PPI_COMPLEX edge type, search by GENE and PPI_COMPLEX entity ids

SQL.buildInternalNetwork.GENE_PPI_COMPLEX = \
	select \
		f.protein_id \
		, concat("kb|ppi.", i.id) \
		, "Member of PPI complex" \
		, -1 \
		, f.strength \
		, i.confidence \
# Other properties	
		, i.description as description \
		, i.data_url as url \
		, m.description as detection_method \
		, i.citation_id as citation_id \
		, f.stoichiometry as stoichiometry1 \
		, f.rank as rank1 \
#		, i.is_directional \
#		, i.id \
	from \
		interaction i \
		join interaction_protein f on f.interaction_id=i.id \
		left join interaction_detection_type m on m.id=i.detection_method_id \
	 where \
		i.interaction_dataset_id = substring_index(?, ".", -1) \
		and f.protein_id in(%s) \
		and concat("kb|ppi.", i.id) in(%s) 
									 
QIndex.DatasetId.buildInternalNetwork.GENE_PPI_COMPLEX = 1
QIndex.GeneId.buildInternalNetwork.GENE_PPI_COMPLEX = 2
QIndex.PPIComplexId.buildInternalNetwork.GENE_PPI_COMPLEX = 3
RSIndex.EntityId1.buildInternalNetwork.GENE_PPI_COMPLEX = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_PPI_COMPLEX = 2
RSIndex.EdgeName.buildInternalNetwork.GENE_PPI_COMPLEX = 3
RSIndex.EdgeDirected.buildInternalNetwork.GENE_PPI_COMPLEX = 4
RSIndex.Weight.buildInternalNetwork.GENE_PPI_COMPLEX = 5
RSIndex.Confidence.buildInternalNetwork.GENE_PPI_COMPLEX = 6
RSName.EdgeProperties.buildInternalNetwork.GENE_PPI_COMPLEX = description:url:citation_id:detection_method
RSName.Node1Properties.buildInternalNetwork.GENE_PPI_COMPLEX = stoichiometry1:rank1

