<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>KBaseNetworksRPC</servlet-name>
        <servlet-class>us.kbase.kbasenetworks.KBaseNetworksServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KBaseNetworksRPC</servlet-name>
        <url-pattern>/networks</url-pattern>
    </servlet-mapping>
</web-app>
