storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://devdb1.newyork.kbase.us:3306/kbase_plant
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

Edge2NodeType1.SUBSYSTEM = SUBSYSTEM
Edge2NodeType2.CLUSTER = SUBSYSTEMCLUSTER
Default.EdgeTypes = SUBSYSTEM_CLUSTER
Supported.EdgeTypes = SUBSYSTEM_CLUSTER

########################################
# loadDatasets method
########################################

SQL.loadDatasets = select * from datasets where DATASET_ID like 'kb|netdataset.comm.cc.%' 

########################################
# getDatasets methods
########################################

SQL.getDatasets.SUBSYSTEM = \
    SELECT distinct concat('kb|netdataset.comm.cc.', meta_id) \
    FROM comm_cluster \
    WHERE subsys = ? 
QIndex.SubsystemId.getDatasets.SUBSYSTEM = 1 
RSIndex.DatasetId.getDatasets.SUBSYSTEM = 1


SQL.getDatasets.SUBSYSTEMCLUSTER = \
    SELECT distinct concat('kb|netdataset.comm.cc.', meta_id) \
    FROM comm_cluster \
    WHERE cluster = ? 
QIndex.SubsystemClusterId.getDatasets.SUBSYSTEMCLUSTER = 1 
RSIndex.DatasetId.getDatasets.SUBSYSTEMCLUSTER = 1


########################################
# buildFirstNeighborNetwork methods
########################################

SQL.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = \
    SELECT DISTINCT subsys\
        , cluster \
        , subsys \
        , cluster \
        , 'Member of cluster' \
    FROM comm_cluster \
    WHERE subsys = ? AND meta_id = substring_index(?,".",-1)
	
QIndex.SubsystemId.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 1
QIndex.DatasetId.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEM = 5

SQL.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = \
    SELECT DISTINCT subsys, cluster, subsys, cluster, \
        'Member of cluster' \
    FROM comm_cluster \
    WHERE cluster = ? AND meta_id = substring_index(?,".",-1)
	
QIndex.SubsystemClusterId.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 1
QIndex.DatasetId.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER.SUBSYSTEMCLUSTER = 5


########################################
# buildInternalNetwork methods
########################################

SQL.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = \
    SELECT DISTINCT subsys, cluster, subsys, cluster, \
        'Member of cluster' \
    FROM comm_cluster \
    WHERE subsys IN (%s) AND cluster IN (%s) \
        AND meta_id = substring_index(?, ".", -1)

QIndex.SubsystemId.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 1
QIndex.SubsystemClusterId.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 2
QIndex.DatasetId.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 3
RSIndex.EntityId1.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 1
RSIndex.EntityId2.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 2
RSIndex.NodeName1.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 3
RSIndex.NodeName2.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 4
RSIndex.EdgeName.buildInternalNetwork.SUBSYSTEM_SUBSYSTEMCLUSTER = 5
