storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://devdb1.newyork.kbase.us:3306/kbase_plant
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

Edge2NodeType1.SUBSYSTEM = SUBSYSTEM
Edge2NodeType2.SUBSYSTEM = SUBSYSTEM
Default.EdgeTypes = SUBSYSTEM_SUBSYSTEM
Supported.EdgeTypes = SUBSYSTEM_SUBSYSTEM

########################################
# loadDatasets method
########################################

SQL.loadDatasets = select * from datasets where DATASET_ID like 'kb|netdataset.comm.cn.%' 

########################################
# getDatasets methods
########################################

SQL.getDatasets.SUBSYSTEM = \
    SELECT distinct concat('kb|netdataset.comm.cn.', meta_id) \
    FROM comm_network \
    WHERE subsys1 = ? or subsys2 = ?
QIndex.SubsystemId.getDatasets.SUBSYSTEM = 1:2 
RSIndex.DatasetId.getDatasets.SUBSYSTEM = 1

########################################
# buildFirstNeighborNetwork methods
########################################

SQL.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = \
    SELECT DISTINCT subsys1\
        , subsys2 \
        , subsys1 \
        , subsys2 \
        , 'Correlated abundance' \
        , weight \
    FROM comm_network \
    WHERE (subsys1 = ? or subsys2 = ?) AND meta_id = substring_index(?,".",-1)
	
QIndex.SubsystemId.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 1:2
QIndex.DatasetId.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 3
RSIndex.EntityId1.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 5
RSIndex.Weight.buildFirstNeighborNetwork.SUBSYSTEM_SUBSYSTEM.SUBSYSTEM = 6


########################################
# buildInternalNetwork methods
########################################

SQL.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = \
    SELECT DISTINCT subsys1 \
    	, subsys2 \
    	, subsys1 \
    	, subsys2 \
        , 'Correlated abundance' \
        , weight \        
    FROM comm_network \
    WHERE subsys1 IN (%s) AND subsys2 IN (%s) \
        AND meta_id = substring_index(?, ".", -1)

QIndex.SubsystemId.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 1:2
QIndex.DatasetId.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 3
RSIndex.EntityId1.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 1
RSIndex.EntityId2.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 2
RSIndex.NodeName1.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 3
RSIndex.NodeName2.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 4
RSIndex.EdgeName.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 5
RSIndex.Weight.buildInternalNetwork.SUBSYSTEM_SUBSYSTEM = 6

