storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://devdb1.newyork.kbase.us:3306/kbase_plant
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

# Previous
#    "EDGE2NODETYPE1.GENE" : "GENE",
#    "EDGE2NODETYPE2.GENE" : "GENE",
#    "EDGE2NODETYPE2.CLUSTER" : "PPI_COMPLEX",
#    "Default.EdgeTypes" : "GENE_GENE",
#    "Supported.EdgeTypes" : "GENE_GENE:GENE_CLUSTER",

Edge2NodeType1.GENE = GENE
Edge2NodeType2.GENE = GENE
Edge2NodeType2.CLUSTER = PPI_COMPLEX
Default.EdgeTypes = GENE_GENE
Supported.EdgeTypes = GENE_GENE:GENE_CLUSTER


########################################
# loadDatasets method
########################################

# Example
#  "id" : "kb|netdataset.mak.1",
#  "name" : "MAKv1.0 Shewanella dataset",
#  "description" : "Shewanella dataset",
#  "networkType" : "REGULATORY_NETWORK",
#  "sourceReference" : "MAK_BICLUSTER",
#  "taxons" : "kb|g.20848" ,


SQL.loadDatasets = \
	select 	\
		"kb|netdataset.plant.pppi.1" as DATASET_ID \
		, "IntAct" as DATASET_NAME \
		, "IntAct : Protein Protein Interaction Network for Arabidopsis thaliana" as DATASET_DESCRIPTION \
		, "PROT_PROT_INTERACTION" as DATASET_NETWORKTYPE \
		, "INTACT" as DATASET_SOURCEREFERENCE \
		, "kb|g.3899" as DATASET_TAXONS 


########################################
# getDatasets methods
########################################

# search by GENE entity id

# Previous
#    "SQL.getDatasets.GENE" : "SELECT count(*) FROM interaction_exchange_int WHERE protein = ?",
#    "QIDX1.getDatasets.GENE" : "1",
 
SQL.getDatasets.GENE = \
	select distinct  \
		"kb|netdataset.plant.pppi.1" \
	from \
		interaction_exchange_int \
	where \
		kbfid = ?
	
QIndex.GeneId.getDatasets.GENE = 1
RSIndex.DatasetId.getDatasets.GENE = 1


# search by PPI_COMPLEX entity id

# Previous
#    "SQL.getDatasets.PPI_COMPLEX" : "SELECT count(*) FROM interaction_exchange_int WHERE group_description = ? ",
#    "QIDX1.getDatasets.PPI_COMPLEX" : "1",
    
SQL.getDatasets.PPI_COMPLEX = \
	select distinct \
		"kb|netdataset.plant.pppi.1" \
	from \
		interaction_exchange_int \
	where \
		group_description = substring_index(?, ".", -1)
	 
QIndex.PPIComplexId.getDatasets.PPI_COMPLEX = 1
RSIndex.DatasetId.getDatasets.PPI_COMPLEX = 1


########################################
# buildFirstNeighborNetwork methods
########################################

#GENE_GENE edge type, search by GENE entity id

# Previous
#    "SQL.buildFirstNeighborNetwork.GENE_GENE.GENE" : "SELECT DISTINCT A.protein, B.protein FROM interaction_exchange_int A JOIN interaction_exchange_int B ON A.group_description = B.group_description WHERE A.protein <> B.protein AND A.protein = ? ",
#    "QIDX1.buildFirstNeighborNetwork.GENE_GENE.GENE" : "1",
#    "RSNode1Index.buildFirstNeighborNetwork.GENE_GENE.GENE"  : "1",
#    "RSNode2Index.buildFirstNeighborNetwork.GENE_GENE.GENE"  : "2",
#    "RSWeightIndex.buildFirstNeighborNetwork.GENE_GENE.GENE" : "-1",


SQL.buildFirstNeighborNetwork.GENE_GENE.GENE = \
	select  \
		A.kbfid \
		, B.kbfid \
		, "Members of the same PPI complex" \
		, concat('kb|ppi_complex.', A.group_description) as PPIComplexId \
	from \
		interaction_exchange_int A \
		JOIN interaction_exchange_int B using(group_description)\
	where \
		A.kbfid <> B.kbfid \
		AND A.kbfid = ?
	
QIndex.GeneId.buildFirstNeighborNetwork.GENE_GENE.GENE = 1
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_GENE.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_GENE.GENE = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_GENE.GENE = 3
RSName.EdgeProperties.buildFirstNeighborNetwork.GENE_GENE.GENE = ppiComplexId

#PPI_COMPLEX edge type, search by GENE entity id

# Previous
#    "SQL.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE" : "SELECT DISTINCT protein, group_description FROM interaction_exchange_int WHERE protein = ? ",
#    "QIDX1.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE" : "1",
#    "RSNode1Index.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE"  : "1",
#    "RSNode2Index.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE"  : "2",
#    "RSWeightIndex.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE" : "-1",

#SELECT DISTINCT protein, group_description FROM interaction_exchange_int WHERE protein = ?

SQL.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = \
	select distinct \
		kbfid \
		, concat('kb|ppi_complex.', group_description) \
		, "Contains protein" \
		, -1 \
	from \
		interaction_exchange_int \
	where \
		kbfid = ?
	 
QIndex.GeneId.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 1
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.GENE = 4


#GENE_BICLUSTER edge type, search by BICLUSTER entity id

# Previous
#    "SQL.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX" : "SELECT DISTINCT protein, group_description FROM interaction_exchange_int WHERE group_description = ? ",
#    "QIDX1.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX" : "1",
#    "RSNode1Index.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX"  : "1",
#    "RSNode2Index.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX"  : "2",
#    "RSWeightIndex.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX" : "-1",


SQL.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = \
	select distinct \
		kbfid \
		, concat('kb|ppi_complex.', group_description) \
		, "Contains protein" \
		, -1 \				
	from \
		interaction_exchange_int \
	where \
		group_description = substring_index(?, ".", -1)
	 
QIndex.PPIComplexId.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 1
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 2
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 3
RSIndex.EdgeDirected.buildFirstNeighborNetwork.GENE_PPI_COMPLEX.PPI_COMPLEX = 4


########################################
# buildInternalNetwork methods
########################################

#GENE_GENE edge type, search by GENE entity ids

# Previous
#    "SQL.buildInternalNetwork.GENE_GENE.GENE" : "SELECT DISTINCT A.protein, B.protein FROM interaction_exchange_int A JOIN interaction_exchange_int B ON A.group_description = B.group_description WHERE A.protein <> B.protein AND A.protein IN (?) and B.protein IN (?)",
#    "QIDX1.buildInternalNetwork.GENE_GENE.GENE" : "1:2",
#    "RSNode1Index.buildInternalNetwork.GENE_GENE.GENE"  : "1",
#    "RSNode2Index.buildInternalNetwork.GENE_GENE.GENE"  : "2",
#    "RSWeightIndex.buildInternalNetwork.GENE_GENE.GENE" : "-1",


SQL.buildInternalNetwork.GENE_GENE = \
	select distinct \
		A.kbfid \
		, B.kbfid \
	from interaction_exchange_int A \
		JOIN interaction_exchange_int B using(group_description) \
	where \
		A.kbfid < B.kbfid \
		AND A.kbfid IN (%s) \
		and B.kbfid IN (%s)
	
QIndex.GeneId.buildInternalNetwork.GENE_GENE = 1:2
RSIndex.EntityId1.buildInternalNetwork.GENE_GENE = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_GENE = 2

#GENE_PPI_COMPLEX edge type, search by GENE and Bicluster entity ids

#    "SQL.buildInternalNetwork.GENE_PPI_COMPLEX.GENE_PPI_COMPLEX" : "SELECT DISTINCT protein, group_description FROM interaction_exchange_int  WHERE protein IN (?) AND group_description IN (?)",
#    "QIDX1.buildInternalNetwork.GENE_PPI_COMPLEX.GENE_PPI_COMPLEX" : "1",
#    "QIDX2.buildInternalNetwork.GENE_PPI_COMPLEX.GENE_PPI_COMPLEX" : "2",
#    "RSNode1Index.buildInternalNetwork.GENE_PPI_COMPLEX.GENE_PPI_COMPLEX"  : "1",
#    "RSNode2Index.buildInternalNetwork.GENE_PPI_COMPLEX.GENE_PPI_COMPLEX"  : "2",
#    "RSWeightIndex.buildInternalNetwork.GENE_PPI_COMPLEX.GENE_PPI_COMPLEX" : "-1"

    
SQL.buildInternalNetwork.GENE_PPI_COMPLEX = \
	select distinct \
		kbfid \
		, concat('kb|ppi_complex.', group_description) \
	from \
		interaction_exchange_int \
	where \
		kbfid IN  (%s) \
		and concat('kb|ppi_complex.', group_description) IN (%s)
	
QIndex.GeneId.buildInternalNetwork.GENE_PPI_COMPLEX = 1
QIndex.PPIComplexId.buildInternalNetwork.GENE_PPI_COMPLEX = 2
RSIndex.EntityId1.buildInternalNetwork.GENE_PPI_COMPLEX = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_PPI_COMPLEX = 2
