storename  = db2-networks-pdev

########################################
# c3po
########################################

c3po.setDriverClass = com.mysql.jdbc.Driver
c3po.setJdbcUrl = jdbc:mysql://devdb1.newyork.kbase.us:3306/kbase_plant
c3po.setUser = networks_pdev
c3po.setMaxStatements = 180
c3po.setMaxStatementsPerConnection = 10
c3po.setIdleConnectionTestPeriod = 240
c3po.setPreferredTestQuery = SELECT 1


########################################
# basic properties
########################################

Edge2NodeType1.GENE = GENE
Edge2NodeType2.CLUSTER = SUBSYSTEM
Default.EdgeTypes = GENE_CLUSTER
Supported.EdgeTypes = GENE_CLUSTER

########################################
# loadDatasets method
########################################

SQL.loadDatasets = select * from datasets where DATASET_ID like 'kb|netdataset.plant.gp.%' 

########################################
# getDatasets methods
########################################

SQL.getDatasets.GENE = \
    SELECT distinct concat('kb|netdataset.plant.gp.', meta_id) \
    FROM gene_pathway_int \
    WHERE kbfid = ? 
QIndex.GeneId.getDatasets.GENE = 1 
RSIndex.DatasetId.getDatasets.GENE = 1


SQL.getDatasets.SUBSYSTEM = \
    SELECT distinct concat('kb|netdataset.plant.gp.', meta_id) \
    FROM gene_pathway_int \
    WHERE pathway = ? 
QIndex.SubsystemId.getDatasets.SUBSYSTEM = 1 
RSIndex.DatasetId.getDatasets.SUBSYSTEM = 1


########################################
# buildFirstNeighborNetwork methods
########################################

SQL.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = \
    SELECT DISTINCT kbfid\
        , pathway\
        , gene\
        , name\
        , 'Member of pathway' \
    FROM gene_pathway_int join pathway_name using(pathway) \
    WHERE kbfid = ? AND meta_id = substring_index(?,".",-1)
	
QIndex.GeneId.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 1
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_SUBSYSTEM.GENE = 5

SQL.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = \
    SELECT DISTINCT kbfid, pathway, gene, name, \
        'Member of pathway' \
    FROM gene_pathway_int join pathway_name using(pathway) \
    WHERE pathway = ? AND meta_id = substring_index(?,".",-1)
	
QIndex.SubsystemId.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 1
QIndex.DatasetId.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 2
RSIndex.EntityId1.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 1
RSIndex.EntityId2.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 2
RSIndex.NodeName1.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 3
RSIndex.NodeName2.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 4
RSIndex.EdgeName.buildFirstNeighborNetwork.GENE_SUBSYSTEM.SUBSYSTEM = 5


########################################
# buildInternalNetwork methods
########################################

SQL.buildInternalNetwork.GENE_SUBSYSTEM = \
    SELECT DISTINCT kbfid, pathway, gene, name, \
        'Member of pathway' \
    FROM gene_pathway_int join pathway_name using(pathway) \
    WHERE kbfid IN (%s) AND pathway IN (%s) \
        AND meta_id = substring_index(?, ".", -1)

QIndex.GeneId.buildInternalNetwork.GENE_SUBSYSTEM = 1
QIndex.SubsystemId.buildInternalNetwork.GENE_SUBSYSTEM = 2
QIndex.DatasetId.buildInternalNetwork.GENE_SUBSYSTEM = 3
RSIndex.EntityId1.buildInternalNetwork.GENE_SUBSYSTEM = 1
RSIndex.EntityId2.buildInternalNetwork.GENE_SUBSYSTEM = 2
RSIndex.NodeName1.buildInternalNetwork.GENE_SUBSYSTEM = 3
RSIndex.NodeName2.buildInternalNetwork.GENE_SUBSYSTEM = 4
RSIndex.EdgeName.buildInternalNetwork.GENE_SUBSYSTEM = 5

########################################
# buildNetwork methods
########################################

SQL.buildNetwork.GENE_SUBSYSTEM = \
    SELECT DISTINCT kbfid, pathway, gene, name, \
        'Member of pathway' \
    FROM gene_pathway_int join pathway_name using(pathway) \
    WHERE meta_id = substring_index(?, ".", -1)

QIndex.DatasetId.buildNetwork.GENE_SUBSYSTEM = 1
RSIndex.EntityId1.buildNetwork.GENE_SUBSYSTEM = 1
RSIndex.EntityId2.buildNetwork.GENE_SUBSYSTEM = 2
RSIndex.NodeName1.buildNetwork.GENE_SUBSYSTEM = 3
RSIndex.NodeName2.buildNetwork.GENE_SUBSYSTEM = 4
RSIndex.EdgeName.buildNetwork.GENE_SUBSYSTEM = 5
